textarea {
    width: 800px;
    height: 150px;
    resize: none;
    padding: 15px;
}

.On {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
    background-color: aqua;
    margin: auto;
    margin-top: 15px;
}